.mat-chi{
    width: 50%;
    right: 25%;
    left: 25%;
    position: absolute;
  }
  .skill-chip{
    position: fixed;
    // padding-top:30px;
    top:25%;
    width: 80%;
    border: black;
    overflow-y: auto;
    overflow-x: hidden;
    
   
  }  

  .skill-progress{
    top:9.8%;
    position: absolute;
  }

  .sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }