.mat-chi{
    width: 50%;
    right: 25%;
    left: 25%;
    position: absolute;
  }
  .skill-chip{
    position: fixed;
    // padding-top:30px;
    top:15%;
    width: 80%;
    border: black;
    overflow-y: auto;
    overflow-x: hidden;
    
   
  }  