
.example-icon {
  padding: 0 14px;
}
.spacer {
  flex: 1 1 auto;
}
.space{
  padding-right: 20px;
  cursor: pointer;
}
.showicon{
  transform: scale(0.75);
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.rowjobs{
  position: fixed;
  padding-top:18px;
  left: 21%;
  right: 21%;
  width: 58%;
  height: 92%;
  padding-right: 7px;
  overflow-y: auto;
}
.recruiterrowjobs{
  position: fixed;
  padding-top:18px;
  left: 21%;
  right: 21%;
  height: 92%;
  padding-right: 7px;
  overflow-y: auto;
}

.div-header{
 position:fixed;
 background-color: white;
 z-index: 2;
 width: 20%;;
}

.filter-buttons{
  position: relative;  
  transform: scale(0.85);
}

.filter-button-toggle{
  background-color: indigo;
}

.filters{
  z-index: 2;
  width: 20%;
  top: 10%;
  position: fixed;
  left: 0.5%;
  padding-right: 2px;
  right: 80%;
  height: 90%;
  overflow-y: scroll;
  margin-right: 20%;
}
.skill-filter{
  height: 45%;
  position: relative;
  overflow-y: scroll;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-card {
    max-width: inherit;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.info{
  position: absolute;
  // width: 60%;
  // top: 50px;
  top: 10%;
  left: 20%;
  right: 20%;
}
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.add-job{
  position: absolute;
  top:10%;
  left: 25%;
  right: 25%;
}
.full-width{
  width: 100%;
}
.nav-content{
  padding-top: 50px;
}
.fixed-toolbar{
 
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.not-approved{
  position: fixed;
  top:30%;
  right: 30%;
  left:30%;
  width: 40%;
  z-index: 3;
}
.skill-chip{
  position: fixed;
  // padding-top:30px;
  top:10%;
  width: 20%;
  right: 0;
  left: 80%;
  z-index: 2;
  border-left: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 92%;
  scroll-padding-right: 10px;
}

.noskills{
 top:18px;
  left: 21%;
  right: 21%;
  width: 58%;
  height: 92%;
 position: relative;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 30px; /* only if you want fixed height */
  width: 30px;
  border-radius: 30px;
  }