
.example-icon {
  padding: 0 14px;
}
.spacer {
  flex: 1 1 auto;
}
.space{
  padding-right: 20px;
  cursor: pointer;
}
.showicon{
  transform: scale(0.75);
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.rowjobs{
  position: absolute;
  left: 20%;
  right: 20%;
}


.example-card {
    max-width: inherit;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.info{
  position: absolute;
  // width: 60%;
  left: 20%;
  right: 20%;
}
