
.example-icon {
  padding: 0 14px;
}
.spacer {
  flex: 1 1 auto;
}
.space{
  padding-right: 20px;
  cursor: pointer;
}
.showicon{
  transform: scale(0.75);
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.rowjobs{
  position: absolute;
  padding-top:18px;
  left: 21%;
  right: 21%;
}
.recruiterrowjobs{
  position: absolute;
  padding-top:18px;
  left: 21%;
  right: 21%;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-card {
    max-width: inherit;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.info{
  position: absolute;
  // width: 60%;
  // top: 50px;
  top: 10%;
  left: 20%;
  right: 20%;
}
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.add-job{
  position: absolute;
  top:10%;
  left: 25%;
  right: 25%;
}
.full-width{
  width: 100%;
}
.nav-content{
  padding-top: 50px;
}
.fixed-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.not-approved{
  position: absolute;
  top:30%;
  right: 30%;
  left:30%;
  width: 40%;
}
.skill-chip{
  position: fixed;
  // padding-top:30px;
  top:11%;
  width: 20%;
  right: 0.5%;
  left: 79.5%;
  border-left: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-padding-right: 10px;
}